<h1>"Today"</h1>
<<<<<<< HEAD
<p>"The date is "</p> <%=DateTime.now.strftime("%A, %B %d, %Y")%>
=======
<p>"The date is "</p> <%DateTime.now.strftime("%A, %B %d, %Y")%>
>>>>>>> 9dec781e60931141ace249eeff5f36cd2bcf1659
